<%= render "navbar" %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://s3-eu-west-1.amazonaws.com/prh-havanaclub-prod/s3fs-public-prod/styles/cocktail_-_medium_16_columns__1200x500_/public/cocktail/Mojito-cocktail-ingredients-Havana-club.jpg?itok=S6mx_YEF&timestamp=1481711284'); height: 80vh;">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>
      <h2>Ingedients</h2>
        <ul >
        <% @cocktail.doses.each do |dose| %>
        <li>  <%= dose.description %> <%= dose.ingredient.name %> </li>
        <% end %>
        <%= simple_form_for([@cocktail,@dose]) do |f| %>
        <% if @dose.errors %>
        <% @dose.errors.messages.each do |error|  %>
        Error: <%= error  %>
         <% end %>
        <% end %>
  <%= f.input :description, placeholder: '20 cl of...' %>
  <%= f.input :ingredient_id, collection: @ingredients %>
  <%= f.submit 'Add', class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Finish', cocktails_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
</div>
